@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
 
.container {
   width: 100vw;
   height: 100vh;
   display: flex;
}
 
.history {
   width: 70vw;
   padding: 2em;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   overflow: scroll;
}
 
.btn {
   margin-top: 1em;
}
button{
    background-color: rgb(89, 171, 185);
    border:none;
    color: white;
}
button:focus{
    outline:none
}